body {
    display: flex;
    flex-direction: column;
    align-items: start;
}

form {
    display: flex;
    flex-direction: column;
}

.notificationBanner {
  position: absolute;
  bottom: 25px;
  right: 25px;
  display: none;
}